
body {
  position: relative;
  background-size: cover;
  background-image: url('MainPage.jpg');
  text-align: center;
}

.welcome {
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
    margin: 100px 0px -50px 0px;
    font-size: 100px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.studiBuddi {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-family: 'Indie Flower', cursive;
    color: black;
    text-align: center;
    font-size: 65px;
}

a.signUp {
    color:#f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    padding: 8px;
    position:absolute; 
    margin-left:-100px;
    margin-top:60px;
    right: 700px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

a.signUp:hover, a.signUp:focus {
    background-color: rgba(59,89,152,0.7);
    color: #f8f8f8;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    -webkit-transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

a.login {
    color:#f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    width: 300px;
    padding: 8px;
    position:absolute; 
    margin-left:-100px;
    margin-top: 65px; 
    left: 700px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

a.login:hover, a.login:focus {
    background-color: rgba(0,164,0,0.7);
    color: #f8f8f8;
    transition: color 0.5s ease-in, background-color 0.5s ease-in;
    -webkit-transition: color 0.5s ease-in, background-color 0.5s ease-in;
}


.buttons {
    display: inline-block;
    text-align: center;
    margin 0 auto;
    padding: 0px;
}

